@model IEnumerable<Parc_Auto_v3.Models.Voiture>

<table class="table table-bordered table-hover table-custom">
    <thead class="thead-dark">
        <tr>
            <th>Matricule</th>
            <th>Type</th>
            <th>Carburant</th>
            <th>Numéro de série</th>
            <th>Disponibilité</th>
            <th>Kilométrage</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voiture in Model)
        {
            var lastKilometrage = voiture.Demandes?.OrderByDescending(d => d.DateDepart).FirstOrDefault()?.Kilometrage;
            <tr>
                <td>@voiture.Matricule</td>
                <td>@voiture.TypeVoiture</td>
                <td>@voiture.Carburant</td>
                <td>@voiture.NumeroSerieCarteGrise</td>
                <td>@voiture.Disponibilite</td>
                <td>@lastKilometrage</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@voiture.Id" class="btn btn-sm btn-warning btn-custom">modifier</a>
                    <a asp-action="Details" asp-route-id="@voiture.Id" class="btn btn-sm btn-info btn-custom">Details</a>
                    <a asp-action="Delete" asp-route-id="@voiture.Id" class="btn btn-sm btn-danger btn-custom">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>