@model IEnumerable<Parc_Auto_v3.Controllers.DemandeViewModel>

<table class="table table-custom">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom Prénom</th>
        
            <th>Date</th>
            <th>Voiture Matricule</th>
            <th>Last KM</th>
            <th>New KM</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Demande.Id</td>
                <td>@item.Demande.Nom @item.Demande.Prenom</td>

                <td>@item.Demande.DateDepart.ToString("yyyy-MM-dd")</td>
                <td>@item.Demande.Voiture?.Matricule</td>
                <td>@item.LastKilometrage  &lt; </td>
                <td>
                    <form asp-action="UpdateDemande" method="post" class="form-inline" onsubmit="return validateKilometrage(@item.LastKilometrage, this)">
                        <input type="hidden" name="id" value="@item.Demande.Id" />
                        <div class="input-group">
                            <input type="number" name="newKilometrage" class="form-control" required />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-custom">Update</button>
                            </div>
                        </div>
                        <div class="error-message text-danger mt-2" style="display: none;"></div>
                    </form> 
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function validateKilometrage(lastKilometrage, form) {
         var newKilometrage = form.newKilometrage.value;
         var errorMessage = form.querySelector('.error-message');
         if (parseInt(newKilometrage) <= parseInt(lastKilometrage)) {
             errorMessage.textContent = "New KM must be greater than Last KM.";
             errorMessage.style.display = 'block';
             return false;
         }
         errorMessage.style.display = 'none';
         return true;
     }
</script>